services:
  ipsec-mobify-server:
    image: lmobify/ipsec-mobify:bw
    container_name: ipsec-mobify-server
    ports:
      - "500:500/udp"
      - "4500:4500/udp"
    volumes:
      -  /lib/modules:/lib/modules:ro
      - ./etc/ppp/chap-secrets:/etc/ppp/chap-secrets
      - ./etc/ipsec.d/passwd:/etc/ipsec.d/passwd
      - ./etc/ipsec.secrets:/etc/ipsec.secrets
    privileged: true
    restart: always
  goserver:
    image: lmobify/goserver:bw-latest
    container_name: goserver
    ports:
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./prod.yml:/app/default.yml
      - ./etc/ppp/chap-secrets:/etc/ppp/chap-secrets
      - ./etc/ipsec.d/passwd:/etc/ipsec.d/passwd
      - ./etc/ipsec.secrets:/etc/ipsec.secrets
      - ./etc/bandwidth:/home/overlord/tmpfork/etc/bandwidth
      - /var/log/openvpn:/var/log/openvpn:ro
    environment:
      - CONFIG_PATH=/app/default.yml
    restart: always
    depends_on:
      - ipsec-mobify-server
